* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    min-height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    background-image: url(../../public/mobile-background.png);
    background-size: cover;
    background-position: center;
}

.section {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.formAuth {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background: rgba(74, 61, 77, 0.4);

    /* Aplica o desfoque ao que está atrás do input */
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    /* Estilização para parecer um item de RPG antigo */
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 15px 15px;
    outline: none;
    transition: all 0.3s ease;
}

.formAuth h1 {
    color: white;
}

.formAuth input,
.formAuth select {
    width: 100%;
    height: 50px;
    background: #4a3d4d66;
    color: #ffffff;

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    border: none;
    border-radius: 5px;
    padding: 12px 15px;
    outline: none;
    transition: all 0.3s ease;
}

.formAuth input::placeholder,
.formAuth select {
    color: #999;
}

p {
    color: red;
}


.formAuth button {
    width: 50%;
    height: 50px;
    background-color: #8B6FB3;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    transition: background-color 0.4s ease, color 0.4s ease;
}

    .link {
        color: #8B6FB3;
        transition: background-color 0.4s ease, color 0.4s ease;

    }

    .link:hover {
        color: #4a3d4d66;
    }

    .formAuth button:hover {
        background: #4a3d4d66;
    }




@media (min-width: 1069px) {

    .body {
        min-height: 100vh;
        display: flex;
        flex-direction: row;
        padding: 0;
        gap: 0;
        align-items: center;
        justify-content: center;
        background-image: url(../../public/desktop-background.png);
    }

    .section {
        flex: none;
        max-width: none;
        height: 100vh;
    }

    .section:first-child {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section:last-child {
        width: 40%;
        display: flex;
    }

    .section:last-child img {
        width: 400px;
        height: 90vh;
    }

    .formAuth {
        width: 50%;
        padding: 25px 25px;

    }

    .formAuth input,
    .formAuth select {
        height: 55px;
        padding: 12px 15px;

    }

    .formAuth button {
        width: 50%;
        height: 50px;
    }

}