* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

.container-btn {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: purple;
    font-size: 25px;

    position: fixed;
    bottom: 90px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
}