* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Roboto", sans-serif;
}

html,
body {
    height: 100%;
}

.card-container {
    display: flex;
    width: 100%;
    height: 16vh;
    margin: 15px 0px 15px 0px;
    background-color: #1F1F1F;
    border-radius: 5px;
    box-shadow: 0 0 16px #00000080;
}

section:first-child {
    display: flex;
    top: 0;
    padding: 1px;
}

section:first-child img {
    width: 90%;


}

section:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-ficha {
    text-decoration: none;
}

h2 {
    font-size: 24px;
    font-weight: 300;
}

h3 {
    font-size: 14px;
    font-weight: 400;
}

.pv-content h3{
    font-size: 18px;
}